/* src/components/AdminLayout.css */
.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e6f2ff; /* Fondo azul claro */
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}