.dashboard-cards {
    display: flex;
    gap: 50px;
    top:350px;
    position: absolute;
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 400px;
    height: 350px;
    flex-shrink: 1;
    background-color: rgba(245, 235, 235, 1);
    gap: 35px;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-avatar {
    color: rgba(245, 245, 245, 1);
    width: 150px;
    align-self: center;
    height: 150px;
    flex-shrink: 0;
    font-size: 4rem;
    margin: 0 auto;
}
.text-card {
    color: rgba(30, 30, 30, 1);
    font-size: 28px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1;
    font-stretch: normal;
    text-align: center;
    align-self: center;
}


@media (min-width: 1536px) {
    .card {
        gap:25px;
        width: 300px;
        height: 250px;
        padding: 16px;
        border-radius: 28px;
        grid-column-end: span 2;
        justify-self: center;
    }
    .card-avatar {
        width: 120px;
        height: 120px;
        font-size: 3rem;
    }
    .text-card {
        font-size: 24px;
        align-self: center;
    }
}

@media (min-width: 1200px) and (max-width: 1535px) {
    .card {
        gap:20px;
        padding: 14px;
        border-radius: 26px;
    }
    .card-avatar {
        width: 110px;
        height: 110px;
        font-size: 2.5rem;
    }
    .text-card {
        font-size: 22px;
        align-self: center;
        text-align: center;
        
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .card {
        gap:15px;
        width: 220px;
        height: 180px;
        padding: 12px;
        border-radius: 24px;
    }
    .card-avatar {
        width: 100px;
        height: 100px;
        font-size: 2rem;
    }
    .text-card {
        font-size: 20px;
        align-self: center;
        text-align: center;
    }

}

@media (min-width: 0px) and (max-width: 599px) {
    .card {
        gap:10px;
        width: 180px;
        height: 150px;
        padding: 10px;
        border-radius: 22px;
    }
    .card-avatar {
        width: 30px;
        position: static;
    }
    .text-card {
        font-size: 14px;
        align-self: center;
        text-align: center;
    }
}