/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e6f2ff; /* Fondo azul claro */
}

.header h1 {
  font-size: 24px;
  color: black;
}

.user-info {
  display: flex;
  align-items: center;
  color: gray;
}

.user-icon {
  margin-right: 5px;
  background-color: purple; /* Como en la imagen, icono morado */
  border-radius: 50%;
  padding: 5px;
  color: white;
}