/* frontend/src/pages/Login.css*/

.login-form{
  gap: 50px;
  top: 200px;
  justify-self: center;
  width: 500px;
  height: 450px;
  display: flex;
  padding: 25px;
  position: absolute;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(251, 251, 251, 1);
}


.login-input {
  color: rgba(30, 30, 30, 1);
  display: flex;
  padding: 12px 16px;
  font-size: 1.6rem;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  line-height: 1;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 1);
  width: 450px;
  margin-top: 10px;
  justify-self: center;
}

.login-text-link {
  gap: 20px;
  display: flex;
  align-self: center;
}

@media (min-width: 1536px) {
  .login-form {
    gap: 20px;
    width: 400px;
    height: 350px;
    padding: 18px;
  }
  
  .login-input {
    font-size: 1.4rem;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    width: 350px;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .login-form {
    gap: 15px;
    width: 350px;
    height: 300px;
    padding: 16px;
  }
  
  .login-input {
    font-size: 1.2rem;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    width: 300px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .login-form {
    gap: 10px;
    width: 300px;
    height: 250px;
    padding: 14px;
  }
  
  .login-input {
    font-size: 1rem;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    width: 250px;
  }
}

@media (min-width: 0px) and (max-width: 599px) {

  .login-form {
    gap: 5px;
    width: 250px;
    height: 200px;
    padding: 12px;
  }
  
  .login-input {
    font-size: 0.8rem;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    width: 200px;
  }
}
