/* src/components/PublicHeader.css */
.header-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(27, 57, 107, 1);
}

.text-elm1 {
  top: 0px;
  left: 0px;
  color: rgba(245, 245, 245, 1);
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 64px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  font-stretch: normal;
  justify-content: center;
  text-decoration: none;
}

.image5-elm1 {
  top: 0px;
  bottom: 0px;
  margin: auto;
  right: 200px;
  width: 200px;
  position: absolute;
}

.image5-elm2 {
  top: 0px;
  left: 200px;
  bottom: 0px;
  width: 150px;
  margin: auto;
  position: absolute;
}



@media(max-width: 1600px) {
  .header-elm {
    width: 100vw;
    height: 150px;
    margin-right: 0px;
  }
  .text-elm1 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    font-size: 55px;
    text-align: center;
  }

  .image5-elm1 {
    right: 150px;
    width: 140px;
  }
  .image5-elm2 {
    top: 0px;
    left: 150px;
    bottom: 0px;
    width: 140px;
    margin: auto;
    position: absolute;
  }
}

@media(max-width: 1200px) {
  .header-elm {
    width: 100%;
    height: 120px;
  }
  .text-elm1 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 48px;
    text-align: center;
  }
  .image5-elm1 {
    right: 100px;
    bottom: 0px;
    width: 120px;
    display: block;
    padding-right: 0px;
  }
  .image5-elm2 {
    left: 100px;
    width: 120px;
  }
}

@media(max-width: 991px) {
  .header-elm {
    width: 100%;
  }
  .image5-elm1 {
    width: 100px;
    right: 50px;
  }
  .image5-elm2 {
    width: 100px;
    left: 50px;
  }
}

@media(max-width: 767px) {
  .text-elm1 {
    top: 0px;
    left: 0px;
    color: rgb(245, 245, 245);
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 35px;
    align-self: center;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .image5-elm1 {
    top: 0px;
    right: 50px;
    bottom: 0px;
    width: 80px;
    margin: auto;
  }
  .image5-elm2 {
    top: 0px;
    bottom: 0px;
    width: 80px;
    margin: auto;
  }
}

@media(max-width: 479px) {
  .header-elm {
    height: 85px;
  }
  .text-elm1 {
    font-size: 30px;
  }
  .image5-elm1 {
    top: 0px;
    right: 20px;
    bottom: 0px;
    width: 60px;
    margin: auto;
  }
  .image5-elm2 {
    left: 20px;
    width: 60px;
    margin: auto;
  }
}