/* src/components/PublicHeader.css */
.header-elm {
  height: 200px;
  padding: 0px 20px 0px 20px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(27, 57, 107, 1);
}

.text {
  color: rgba(245, 245, 245, 1);
  width: auto;
  position: relative;
  font-size: 64px;
  align-self: center;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}

.image5-elm1 {
  width: 200px;
  position: relative;
}

.image5-elm2 {
  width: 150px;
  position: relative;
}

@media (min-width: 1536px) {
  .header-elm {
    height: 120px;
  }
  .text {
    margin: auto;
    font-size: 48px;
    text-align: center;
  }
  .image5-elm1 {
    width: 120px;
    display: block;
    padding-right: 0px;
  }
  .image5-elm2 {
    width: 120px;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .header-elm {
    height: 100px;
  }
  .image5-elm1 {
    width: 100px;
  }
  .image5-elm2 {
    width: 100px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .header-elm {
    height: 100px;
  }
  .text {
    color: rgb(245, 245, 245);
    margin: auto;
    font-size: 35px;
    align-self: center;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-stretch: normal;
  }
  .image5-elm1 {
    width: 80px;
    margin: auto;
  }
  .image5-elm2 {
    width: 80px;
    margin: auto;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  .header-elm {
    height: 80px;
  }
  .text {
    font-size: 30px;
  }
  .image5-elm1 {
    width: 60px;
    margin: auto;
  }
  .image5-elm2 {
    width: 60px;
    margin: auto;
  }
}