.recuperarcontrasea-form-forgot-password-elm {
    gap: 30px;
    top: 450px;
    left: 0px;
    right: 0px;
    width: 500px;
    margin: auto;
    display: flex;
    padding: 22px;
    position: absolute;
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 32px;
    flex-direction: column;
    background-color: rgba(255, 253, 253, 1);
}

.recuperarcontrasea-text-title {
    color: rgba(30, 30, 30, 1);
    height: auto;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0em;
}

.recuperarcontrasea-input {
    width: 100%;
    display: flex;
    padding: 12px 16px;
    font-size: 28px;
    
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 1;
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 1);
    width: 450px;
}

.recuperarcontrasea-button-group-elm {
    display: flex;
    align-self: center;
    flex-shrink: 0;
    justify-content: space-between;
    width: 400px;
}

.recuperarcontrasea-button-cancel {
    gap: 8px;
    display: flex;
    padding: 12px;
    overflow: hidden;
    align-items: center;
    border-color: rgba(118, 118, 118, 1);
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
}

.recuperarcontrasea-text {
    color: rgba(48, 48, 48, 1);
    display: flex;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0em;
    justify-content: center;
    align-items: center;
}

.recuperarcontrasea-button-send {
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: #2C2C2C;
}

.recuperarcontrasea-text-send {
    color: rgba(255, 253, 253, 1);
    display: flex;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0em;
    justify-content: center;
    align-items: center;
}

.recuperarcontraseavariante2-text-title {
    color: rgba(30, 30, 30, 1);
    font-size: 28px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0px;
}

.recuperarcontraseavariante2-input {
    color: rgba(179, 179, 179, 1);
    padding: 12px 16px;
    font-size: 24px;
    text-align: left;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    line-height: 1;
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    letter-spacing: 0px;
    background-color: rgba(245, 245, 245, 1);
    width: 450px;
}

.recuperarcontraseavariante2-text {
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
    letter-spacing: 0px;
}

.recuperarcontrasea-text-cancel {
    color: rgba(48, 48, 48, 1);
    height: auto;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0em;
}

.recuperarcontraseavariante2-button {
    gap: 8px;
    padding: 12px;
    flex-grow: 1;
    align-self: center;
    align-items: center;
    border-color: rgba(44, 44, 44, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(44, 44, 44, 1);
}

.recuperarcontraseavariante2-text-reset {
    color: rgba(245, 245, 245, 1);
    font-size: 28px;
    align-self: center;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0px;
}

.recuperarcontraseavariante2-text-link-elm {
    align-self: center;
    flex-shrink: 0;
    text-align: center;
}

.recuperarcontraseavariante2-text-return {
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400px;
    line-height: 1;
    font-stretch: normal;
    letter-spacing: 0px;
    text-decoration: underline;
}

@media(max-width: 1600px) {
    .recuperarcontrasea-form-forgot-password-elm {
        gap: 25px;
        top: 250px;
        width: 450px;
        padding: 20px;
    }
    .recuperarcontrasea-text-title {
        font-size: 28px;
    }
    .recuperarcontrasea-input {
        font-size: 22px;
        padding-top: 10px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 10px;
        width: 400px;
    }
    .recuperarcontrasea-button-group-elm {
        width: 350px;
    }
    .recuperarcontrasea-button-cancel {
        padding: 10px;
    }
    .recuperarcontrasea-text {
        font-size: 22px;
    }
    .recuperarcontrasea-button-send {
        padding: 10px;
    }
    .recuperarcontrasea-text-send {
        font-size: 22px;
    }
    .recuperarcontrasea-text-cancel {
        font-size: 22px;
    }
    .recuperarcontraseavariante2-text-title {
        font-size: 22px;
    }
    .recuperarcontraseavariante2-input {
        font-size: 22px;
        line-height: 1;
        padding-top: 10px;
        padding-left: 14px;
        padding-right: 14px;
        letter-spacing: 0px;
        padding-bottom: 10px;
        width: 400px;
    }
    .recuperarcontraseavariante2-button {
        padding: 10px;
    }
    .recuperarcontraseavariante2-text-reset {
        font-size: 22px;
    }
    .recuperarcontraseavariante2-text-return {
        font-size: 22px;
    }
}

@media(max-width: 1200px) {
    .recuperarcontrasea-form-forgot-password-elm {
        top: 200px;
        width: 400px;
        padding: 18px;
        gap: 20px;

    }
    .recuperarcontrasea-text-title {
        font-size: 26px;
    }
    .recuperarcontrasea-input {
        font-size: 20px;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 8px;
        width: 350px;
    }
    .recuperarcontrasea-button-group-elm {
        width: 300px;
    }
    .recuperarcontrasea-button-cancel {
        padding: 8px;
    }
    .recuperarcontrasea-text {
        font-size: 20px;
    }
    .recuperarcontrasea-button-send {
        padding: 8px;
    }
    .recuperarcontrasea-text-send {
        font-size: 20px;
    }
    .recuperarcontrasea-text-cancel {
        font-size: 20px;
    }
    .recuperarcontraseavariante2-text-title {
        font-size: 20px;
        text-align: left;
        line-height: 1;
        letter-spacing: 0px;
    }
    .recuperarcontraseavariante2-input {
        font-size: 20px;
        text-align: left;
        line-height: 1;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
        letter-spacing: 0px;
        padding-bottom: 8px;
        width: 350px;
    }
    .recuperarcontraseavariante2-text {
        font-size: 20px;
        text-align: left;
        line-height: 1;
        letter-spacing: 0px;
    }
    .recuperarcontraseavariante2-button {
        padding: 8px;
    }
    .recuperarcontraseavariante2-text-reset {
        font-size: 20px;
    }
    .recuperarcontraseavariante2-text-return {
        font-size: 20px;
    }
}

@media(max-width: 991px) {
    .recuperarcontrasea-form-forgot-password-elm {
        width: 350px;
        padding: 16px;
        gap: 18px;
    }
    .recuperarcontrasea-text-title {
        font-size: 24px;
    }
    .recuperarcontrasea-input {
        font-size: 18px;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        width: 300px;
    }
    .recuperarcontrasea-button-group-elm {
        width: 250px;
    }
    .recuperarcontrasea-button-cancel {
        padding: 6px;
    }
    .recuperarcontrasea-text {
        font-size: 18px;
    }
    .recuperarcontrasea-button-send {
        padding: 6px;
    }
    .recuperarcontrasea-text-send {
        font-size: 18px;
    }
    .recuperarcontrasea-text-cancel {
        font-size: 18px;
    }
    .recuperarcontraseavariante2-text-title {
        font-size: 18px;
    }
    .recuperarcontraseavariante2-input {
        font-size: 18px;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        width: 300px;
    }
    .recuperarcontraseavariante2-text {
        font-size: 18px;
    }
    .recuperarcontraseavariante2-input-elm2 {
        font-size: 18px;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        width: 300px;
    }
    .recuperarcontraseavariante2-button {
        padding: 6px;
    }
    .recuperarcontraseavariante2-text-reset {
        font-size: 18px;
    }
    .recuperarcontraseavariante2-text-return {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .recuperarcontrasea-form-forgot-password-elm {
        top: 300px;
        width: 300px;
        padding: 14px;
        gap: 16px;
    }
    .recuperarcontrasea-text-title {
        font-size: 22px;
    }
    .recuperarcontrasea-input {
        font-size: 16px;
        padding: 4px 8px 4px 8px;
        width: 250px;
    }
    .recuperarcontrasea-button-group-elm {
        width: 200px;
    }
    .recuperarcontrasea-button-elm1 {
        padding: 4px;
    }
    .recuperarcontrasea-text {
        font-size: 16px;
    }
    .recuperarcontrasea-button-send {
        padding: 4px;
    }
    .recuperarcontrasea-text-send {
        font-size: 16px;
    }
    .recuperarcontrasea-text-cancel {
        font-size: 16px;
    }
    .recuperarcontraseavariante2-text-title {
        font-size: 16px;
    }
    .recuperarcontraseavariante2-input {
        font-size: 16px;
        padding-top: 4px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        width: 250px;
    }
    .recuperarcontraseavariante2-text {
        font-size: 16px;
    }
    .recuperarcontraseavariante2-button {
        padding: 4px;
    }
    .recuperarcontraseavariante2-text-reset {
        font-size: 16px;
    }
    .recuperarcontraseavariante2-text-return {
        font-size: 16px;
    }
}

@media(max-width: 479px) {
    .recuperarcontrasea-form-forgot-password-elm {
        width: 250px;
        padding: 12px;
        gap: 14px;
    }
    .recuperarcontrasea-text-title {
        font-size: 20px;
    }
    .recuperarcontrasea-input {
        font-size: 14px;
        padding: 2px 6px;
        width: 200px;
    }
    .recuperarcontrasea-button-group-elm {
        width: 180px;
    }
    .recuperarcontrasea-text {
        font-size: 14px;
    }

    .recuperarcontrasea-text-send {
        font-size: 14px;
    }
    .recuperarcontrasea-text-cancel {
        font-size: 14px;
    }
    .recuperarcontraseavariante2-text-title {
        font-size: 14px;
    }
    .recuperarcontraseavariante2-input {
        font-size: 14px;
        padding-top: 2px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        width: 200px;
    }
    .recuperarcontraseavariante2-text {
        font-size: 14px;
    }
    .recuperarcontraseavariante2-button {
        width: 20px;
        padding: 2px;
    }
    .recuperarcontraseavariante2-text-reset {
        font-size: 14px;
    }
    .recuperarcontraseavariante2-text-return {
        font-size: 14px;
    }
}
