/* frontend/src/assets/SeguimientoEgresados.css */

.search-bar {
  border-radius: 28px;
  top: 25px;
  position: absolute;
  width: 550px;
  height: 40px;
}

.filters {
  top: 300px;
  gap: 40px;  
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  justify-self: center;
}

.table-container {
  top: 410px;
  width: 900px;
  display: flex;
  position: absolute;
  background-color: #FFFDFD;
  border-radius: 20px;
  flex-direction: column;
  z-index: 1;
  justify-self: center;
}

@media (min-width: 1536px) {
  .search-bar{
    width: 500px;
    height: 35px;
  }

  .table-container {
    width: 800px;
  }

  .filters {
    gap: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .search-bar{
    width: 450px;
    height: 30px;
  }
  
  .filters {
    top: 280px;
  }
  .table-container {
    top: 350px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .search-bar{
    width: 400px;
    height: 25px;
    align-self: center;
  }
  
  .filters {
    top: 280px;
  }
  .table-container {
    top: 350px;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  .search-bar{
    width: 350px;
    height: 20px;
  }
  .filters {
    left: 50px;
  }
  .table-container {
    width: 450px;
  }
}