/* src/components/Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #003366; /* Azul oscuro */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  color: black; /* Como en la imagen, pero ajusta si es necesario */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
  font-size: 20px; /* Ajusta para icons */
  color: white;
}

.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}