/*src/App.css - Estilos globales y de componentes*/
:root {
  --primary-dark: #223373; /* Azul oscuro del sidebar */
  --primary-light: #E1F2FF; /* Fondo claro de las vistas*/
  --gray-form: #FFFDFD; /* Fondo de formularios y tablas (Casi blanco) */
  --text-dark: #1E1E1E;/* Texto principal*/
  --accent: #4F378A; /* Morado del ícono de usuario */
  --border-radius: 10px;
  --button-save: #2C2C2C; /* Negro para botones guardar */
  --button-cancel: #F5F5F5; /* Gris claro para cancelar */
  --card-bg: #F0E0E0; /* Rosado muy claro*/
  --table-bg: #FFFDFD;
}

body {
  margin: 0;
  background-color: var(--primary-light);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

